<style>
	h1 {
		margin-top: 0;
	}

	.header {
		height: 100px;
		width: 100%;
		background-color:lightgrey;
		padding: 15px;
		text-align: center;
		margin-bottom: 2%;
	}

	.articleBox {
		width: 500px;
		text-align: center;
	}
	.commentBox {
		width: 500px;
		margin-left: 2%;
		text-align: center;	
		overflow: auto;

	}

	.articleList {
		height: 400px;
		padding: 15px;
		border: 2px solid black;
		display: inline-block;
		overflow: auto;
		text-align: left;
	}

	.rowSetup {
		display: inline-flex;
		padding: 15px;
		margin: 0 auto;
	}

	#form {
		height: 400px;
		padding: 15px;
		border: 2px solid black;
		overflow: auto;
	}

</style>

<div class="header">
	<h1>News Scrape</h1>
</div>

<div class="container">

	<div class="rowSetup">

		<div class="articleBox">
			<h4>Article List</h4>
			<div class="articleList">
				{{#each news}}
				<p data-id="{{id}}"><strong>[ {{id}} ] </strong> {{title}}</p>
				{{/each}}
			</div>
		</div>


		<div class="commentBox">
			<h4>Add a comment</h4>
			<form id="form">
				<div id="notes"></div>
			</form>
		</div>
	</div>

</div>


<script>
	$.getJSON("/articles", function (data) {
		// For each one
		for (var i = 0; i < data.length; i++) {
			// Display the apropos information on the page
			$("#articles").append(
				"<p data-id='" +
				data[i]._id +
				"'>" +
				data[i].title +
				"<br />" +
				data[i].link +
				"</p>"
			);
		}
	});


	$(document).on("click", "p", function () {
		// Empty the notes from the note section
		$("#notes").empty();
		var thisId = $(this).attr("data-id");

		$.ajax({
			method: "GET",
			url: "/articles/" + thisId
		}).then(function (data) {
			console.log(data);
			$("#notes").append("<h5>" + data.title + "</h5>");
			$("#notes").append("<input id='titleinput>");
			$("#notes").append("<textarea id='bodyinput'></textarea>");
			$("#notes").append("<button data-id='" + data._id + "' id='submit'>Add Comment</button>");

			// If there's a note in the article
			if (data.note) {
				// Place the title of the note in the title input
				$("#titleinput").val(data.note.title);
				// Place the body of the note in the body textarea
				$("#bodyinput").val(data.note.body);
			}
		});
	});

	$(document).on("click", "#submit", function () {
		var thisId = $(this).attr("data-id");
		$.ajax({
			method: "POST",
			url: "/articles/" + thisId,
			data: {
				// Value taken from title input
				title: $("#titleinput").val(),
				// Value taken from note textarea
				body: $("#bodyinput").val()
			}
		})
			// With that done
			.then(function (data) {
				// Log the response
				console.log(data);
				// Empty the notes section
				$("#notes").empty();
			});
	});

</script>