<style>
	h1 {
		margin-top: 0;
	}

	a {
		color: white;
	}

	p {
		margin: auto;
	}

	img {
		width: 100%;
	}

	.header {
		height: 100px;
		width: 100%;
		background-color: lightgrey;
		padding: 15px;
		text-align: center;
		margin-bottom: 2%;
	}

	.articleBox {
		width: 100%;
		text-align: center;
		margin: 0 auto;
	}


	.articleList {
		width: 85%;
		height: 400px;
		padding: 15px;
		border: 2px solid black;
		background-color: grey;
		display: inline-block;
		overflow: auto;
		text-align: left;
	}

	.card-panel {
		height: 45px;
		padding: 10px;
		margin: 0;
	}

	.nav-wrapper {
		background-color: black;
	}
</style>

<div class="articleBox">

	<div class="articleList">
		{{#each news}}
		<div class="scrapedArticles">
			<div class="row">
				<div class="col s12 m12">
					<div class="card-panel teal">
						<span class="white-text">
							{{title}}
							<a><i id="add" action="/add" method="post" data-id="{{id}}" class="material-icons new badge right green">check</i></a>
						</span>
					</div>
				</div>
			</div>
		</div>
		{{/each}}
	</div>

</div>

<script>
	$(document).on("click", "#add", function () {
		alert("Added to Article list!");
		var thisId = $(this).attr("data-id");
		console.log("This Id: ", thisId);
		$.ajax({
			method: "POST",
			url: "/articles/" + thisId,
		})
			.then(function (data) {
				console.log(data);
			});
	});


</script>