<style>
	h1 {
		margin-top: 0;
	}

	a {
		color: white;
	}

	p {
		margin: auto;
	}

	.header {
		height: 100px;
		width: 100%;
		background-color: lightgrey;
		padding: 15px;
		text-align: center;
		margin-bottom: 2%;
	}

	.articleBox {
		width: 100%;
		text-align: center;
		margin: 0 auto;
	}


	.articleList {
		width: 85%;
		height: 400px;
		padding: 15px;
		border: 2px solid black;
		background-color: grey;
		display: inline-block;
		overflow: auto;
		text-align: left;
	}

	.card-panel {
		height: 45px;
		padding: 10px;
		margin: 0;
	}


</style>

<div class="articleBox">

	<div class="articleList">
		{{#each news}}
		<div class="scrapedArticles">

			<div class="row">
				<div class="col s12 m12">
					<div class="card-panel teal">
						<span id="add" class="white-text">
							<a action="/add" method="post">{{title}}<i type="add" data-id="{{id}}" class="material-icons new badge right green">check</i>Add</a>
						</span>
					</div>
				</div>
			</div>
		</div>
		{{/each}}
	</div>

</div>

<script>
	$(document).on("click", "#add", function () {
		alert("Added to Article list!");
		var thisId = $(this).attr("data-id");
		console.log("This Id: ", thisId);

		$(".card-panel").fadeOut();

		var URL = "mongodb://localhost/mongoHeadlines";

		$.ajax({
			method: "POST",
			url: URL + "/" + thisId,
			data: JSON.stringify(obj),
			contentType: "application/json",
			success: function (data) {
				console.log('success --> data :', data);
			},
		})
			.then(function (data) {
				console.log(data);
			});
	});


</script>